body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; /* Remove default margin for body */

  background: linear-gradient(rgb(0, 249, 236), rgb(71, 150, 229));
}

.container {
  text-align: center; /* Center text content */
}

#noButton,
#yesButton {
  position: static; /* Reset position */
  margin: 10px 0; /* Add margin for better spacing on mobile */
  transition: 0.5s;
}

.header_text {
  font-family: "Nunito";
  font-size: 30px; /* Adjust font size for mobile */
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.text {
  font-family: "Nunito";
  font-size: 18px; /* Adjust font size for mobile */
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  flex-direction: column; /* Change direction for better stacking on mobile */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  font-size: 14px; /* Adjust font size for mobile */
  padding: 10px 20px; /* Adjust padding for better button size on mobile */
  margin: 4px 0; /* Adjust margin for better spacing on mobile */
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  text-align: center; /* Center text content */
  font-size: 16px; /* Adjust font size for mobile */
}

p a {
  color: rgb(255, 255, 255);
  font-size: 16px; /* Adjust font size for mobile */
  font-weight: 600;
  opacity: 0.25;
}
